body  {
    margin: 0;
   /* The image used */
     background-image: url("../../img/dpgradiant.png");

   /* Full height */
     height: 100%;

   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
#app  {
    margin: 0;
    margin-top:50px;
}

.image-white{
    height: 100px;
    width: 250px;
}

.col-sm-6 {
    margin: 0;
    margin-top:50px;
}

.btn-dark{
  margin-top:20px !important;
}
